<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yang.module_mine">

    <application>
        <activity android:name=".ui.activity.MineSettingActivity" />
        <activity android:name=".ui.activity.MineChangePasswordActivity" />
        <activity android:name=".ui.activity.MineChangePhoneActivity" />
        <activity
            android:name=".ui.activity.WebActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TaskHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MineBalanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MineRightsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.MineUserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MineFansActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MineCollectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SuggestionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MineChangeUserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MineSquareActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MineWalletDetailActivity"
            android:exported="false" />

        <activity android:name=".wxapi.WXEntryActivity"
            android:exported="true"/>
    </application>
</manifest>