<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yang.miemie.wallpaper">

    <application
        android:icon="@drawable/iv_miemie"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round">

    </application>

</manifest>